@import "../../../node_modules/bootstrap/scss/buttons";
@import "/src/assets/scss/variables";

.btn-principal{
  background-color: $laranja-principal;
  color: #ffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
  &:hover{
    background-color: #c24526;
  }
}
//e25e2a
.btn-secundario{
  background-color: #D94E93;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color: #ffff;
  cursor: pointer;
  &:hover{
    background-color: #de1378;
    color: white;
  }
}
