<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2">
      <!-- LOGO -->
      <a src="" alt="Logo" class="navbar-brand ff-principal-bold">LOGO?</a>
    </div>
    <div class="col-xl-11 col-lg-11 col-md-10 col-sm-10 d-flex p-3">
      <a href="" class="ff-principal-medium" style="margin-right: 1rem; text-transform: uppercase; cursor: pointer; color: #490A70; text-decoration: none; font-size: 18px;">Início</a>
      <a href="" class="ff-principal-medium" style="margin-right: 1rem; text-transform: uppercase; cursor: pointer; color: #490A70; text-decoration: none; font-size: 18px;">Sobre</a>
      <a href="" class="ff-principal-medium" style="margin-right: 1rem; text-transform: uppercase; cursor: pointer; color: #490A70; text-decoration: none; font-size: 18px;">Download</a>
    </div>
  </div>
</nav>
