<div class="container-fluid">
  <div class="row row-principal pt-5">
    <div class="col-xxl-6 col-xl-6 col-lg-5 col-md-12 col-sm-12 coluna-title">
      <h3 class="ff-principal-bold laranja-principal title">Relatório da Comissão Municipal da Verdade de Niterói</h3>
      <a class="ancora-downloadWeb btn btn-secundario" href="#download" style="width: 60%;">Ir para download</a>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-5 col-md-5 col-sm-12 pt-5 coluna-tablet">
      <img src="../../../assets/images/Group 1ebook1.svg" alt="Capa do ebook aberto em um tablet" class="img-tablet">
    </div>
    <a class="ancora-downloadMob btn btn-secundario" href="#download" style="width: 60%;">Ir para download</a>
  </div>
  <div class="row row-secundaria">
    <div class="card card-autora">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3">
          <p class="ff-principal-light paragrafo-resumo">
            <img src="../../../assets/images/quote.svg" alt="aspas" class="img-quote">
            Tornar público um documento que revela as atrocidades cometidas durante a ditadura empresarial militar é motivo de orgulho para todos que são radicais na defesa da democracia. Conhecer o passado que insiste em não passar é fundamental para evitarmos as repetições das violações de Direitos Humanos.<br> Desejamos uma boa leitura desse documento histórico da Comissão Municipal da Verdade de Niterói que revela as vozes da resistência silenciada.
          </p>
          <p class="ff-principal-light paragrafo-data">Primavera de 2023.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 coluna-autora">
          <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12">
            <img src="../../../assets/images/autora.jpeg" alt="Foto da autora" class="img-autora">
          </div>
          <p class="paragrafo-autora">Nadine Borges<br>Secretária Municipal de Direitos Humanos e Cidadania</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-terciaria p-3" id="download">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 coluna-download">
      <h4 class="ff-principal-bold ">Faça o download do e-book gratuito:</h4>
      <div class="row pt-5 pb-5 d-flex justify-content-center">
        <a href="../../../assets/doc/Relatório da Comissão Municipal De NiteróiEbook.pdf" download class="btn btn-principal botaoDownload">Baixar E-book</a>
      </div>
    </div>
  </div>
</div>
